@model IEnumerable<MVC301.Models.libros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor.nombreA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editorial.nombree)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor.nombreA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editorial.nombree)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.claveL }) |
            @Html.ActionLink("Details", "Details", new { id=item.claveL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.claveL })
        </td>
    </tr>
}

</table>
